* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px #212529;
}
::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #885e44;
}

.avatar {
  display: flex;
  align-items: center;
}
.avatarImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid white;
}

#fountainG {
  position: relative;
  width: 216px;
  height: 26px;
  margin: auto;
}

.fountainG {
  position: absolute;
  top: 0;
  background-color: rgb(255, 128, 82);
  width: 26px;
  height: 26px;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountainG;
  -ms-animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  -moz-animation-name: bounce_fountainG;
  animation-duration: 1.105s;
  -o-animation-duration: 1.105s;
  -ms-animation-duration: 1.105s;
  -webkit-animation-duration: 1.105s;
  -moz-animation-duration: 1.105s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  border-radius: 17px;
  -o-border-radius: 17px;
  -ms-border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
}

#fountainG_1 {
  left: 0;
  animation-delay: 0.446s;
  -o-animation-delay: 0.446s;
  -ms-animation-delay: 0.446s;
  -webkit-animation-delay: 0.446s;
  -moz-animation-delay: 0.446s;
}

#fountainG_2 {
  left: 27px;
  animation-delay: 0.5525s;
  -o-animation-delay: 0.5525s;
  -ms-animation-delay: 0.5525s;
  -webkit-animation-delay: 0.5525s;
  -moz-animation-delay: 0.5525s;
}

#fountainG_3 {
  left: 54px;
  animation-delay: 0.659s;
  -o-animation-delay: 0.659s;
  -ms-animation-delay: 0.659s;
  -webkit-animation-delay: 0.659s;
  -moz-animation-delay: 0.659s;
}

#fountainG_4 {
  left: 81px;
  animation-delay: 0.7755s;
  -o-animation-delay: 0.7755s;
  -ms-animation-delay: 0.7755s;
  -webkit-animation-delay: 0.7755s;
  -moz-animation-delay: 0.7755s;
}

#fountainG_5 {
  left: 108px;
  animation-delay: 0.882s;
  -o-animation-delay: 0.882s;
  -ms-animation-delay: 0.882s;
  -webkit-animation-delay: 0.882s;
  -moz-animation-delay: 0.882s;
}

#fountainG_6 {
  left: 135px;
  animation-delay: 0.9985s;
  -o-animation-delay: 0.9985s;
  -ms-animation-delay: 0.9985s;
  -webkit-animation-delay: 0.9985s;
  -moz-animation-delay: 0.9985s;
}

#fountainG_7 {
  left: 162px;
  animation-delay: 1.105s;
  -o-animation-delay: 1.105s;
  -ms-animation-delay: 1.105s;
  -webkit-animation-delay: 1.105s;
  -moz-animation-delay: 1.105s;
}

#fountainG_8 {
  left: 189px;
  animation-delay: 1.2115s;
  -o-animation-delay: 1.2115s;
  -ms-animation-delay: 1.2115s;
  -webkit-animation-delay: 1.2115s;
  -moz-animation-delay: 1.2115s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}

@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    -o-transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}

@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    -ms-transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    -webkit-transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}

@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    -moz-transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}
@media screen and (max-width: 992px) {
  .car {
    height: 180vh;
  }

  .grid {
    width: 100%;
  }
  .item:nth-child(3n-2) {
    grid-column-start: span 4;
    grid-row-start: span 1;
  }
  .item:nth-child(3n-1),
  .item:nth-child(3n) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
}

@media screen and (max-width: 576px) {
  .Toastify__toast-container--top-right {
    position: absolute;
    right: 0 !important;
    width: 300px;
  }

  .content {
    align-items: center;
    width: 100%;
  }

  .navbar-nav {
    z-index: -2;
    width: 100vw;
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    transition: 500ms;
    left: 0;
    top: -1rem;
    background-color: #b9a698de !important;
    padding-top: 4rem;
  }

  .item:nth-child(n) {
    grid-column-start: span 4;
    grid-row-start: span 1;
  }

  .navbar-nav li {
    margin: 0 0.5rem;
  }
  .navbar-nav li * {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=App.css.map */
