* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px #212529;
}
::-webkit-scrollbar-thumb {
  background: #212529;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #885e44;
}

body {
  color: #f8f9fa;
}
header {
  z-index: 2;
  background-color: transparent;
}

.dropdown-menu {
  text-align: center;
  min-width: 10rem !important;
  background-color: #885e44 !important;
  transform: translate(-200px, 10px) !important;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: #f8f9fa;
}
.bi-person-circle,
a:hover,
a.active {
  text-decoration: none !important;
  color: #885e44;
  transition: 500ms;
  font-size: 1.25rem;
}
span.link {
  color: rgb(25, 34, 46);
  font-size: 5vmin !important;
}

footer {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  height: 18vh;
}

footer * a {
  color: #212529;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}
footer * a:hover,
footer * a.active {
  color: #885e44;
}

.redes {
  color: #885e44 !important;
  cursor: pointer;
}
h1.brand {
  color: #f8f9fa;
  font-size: 15vmin;
  text-shadow: 2px 2px 2px black;
}
.tinerary {
  font-weight: bold;
}

.video {
  width: 100%;
  height: calc(100vh - 2px);
  object-fit: cover;
}

.content {
  z-index: 1;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 45%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3vh;
}
button.go,
button.error {
  border: 2px solid transparent;
  background-color: #f8f9fa;
  border-radius: 50px;
}

button.go:hover,
button.error:hover {
  background-color: #e6e1dd;
  transform: scale(1.1);
  transition: 500ms;
}

button.error:hover {
  background-color: #885e44;
}

.go.scroll {
  position: absolute;
  right: 0;
  bottom: 10px;
  padding: 0;
}

.scroll-btn {
  color: rgb(25, 34, 46);
  font-size: 0.8rem;
}

.why {
  width: 100%;
  height: 2px;
}
#carouselToggler {
  background: linear-gradient(
    #e6e1dd,
    #e6e1dd,
    #e6e1dd,
    #b9a698,
    #b9a698,
    #885e44
  );
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.pop {
  font-size: 7vmin;
  color: #885e44;
}
.foto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  object-fit: fill;
}

.hover:hover {
  transition: 400ms;
  transform: scale(1.01);
}

.carru {
  min-height: 37vh;
  min-width: 30vw;
}

.dropdown-item {
  font-size: 1.1rem;
  color: #f8f9fa !important;
  background-color: transparent !important;
}
.dropdown-item:hover {
  color: #e6e1dd !important;
  cursor: pointer !important;
}

.description {
  padding: 10px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 1));
}

.contenedorCities {
  background: linear-gradient(
    #0b0b09,
    #e6e1dd,
    #e6e1dd,
    #e6e1dd,
    #b9a698,
    #b9a698
  );
  background-color: rgb(19, 22, 26);
}

.cities {
  flex-grow: 1;
  padding: 10vh 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome {
  padding: 2vh 5vw;
  font-weight: bold;
  font-size: 10vmin;
  color: #885e44;
  text-shadow: 0px 2px 4px black;
}
label {
  color: #885e44;
  font-size: 6vmin;
}
input {
  text-align: center;
  font-size: 3vmin;
  padding: 0.5rem 1rem;
  margin: 1vh 0 4vh;
  border: none;
  border-radius: 20px;
  min-width: 40vw;
  background-color: #d3c6bd;
  outline: none;
  color: #885e44;
  background-repeat: no-repeat;
  background-size: contain;
}
input::placeholder {
  color: #885e44;
}

.grid {
  gap: 5px;
  width: 80%;
  min-height: 60vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 35vh;
}
.cityCard {
  width: 100%;
  height: 100%;
  border: 2px solid white !important;
}
.itemFiltered {
  grid-column-start: span 4;
  grid-row-start: span 2;
}

.item:nth-child(6n-5) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}

.item:nth-child(6n-4),
.item:nth-child(6n-3) {
  grid-column-start: span 2;
}
.item:nth-child(6n),
.item:nth-child(6n-2) {
  grid-column-start: span 2;
}

.item:nth-child(6n-1) {
  grid-row-start: span 2;
  grid-column-start: span 2;
}
.Toastify__toast--error {
  background-color: coral !important;
  color: #212529;
}
.itinerariesContainer {
  display: flex;
  color: #885e44;
  padding: 1vw;
  border: 1px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.more {
  width: 180px;
  align-self: center;
  margin-top: 5vh;
  outline: none !important;
  padding: 2px 10px;
  border: none;
  border-radius: 20px;
  background-color: #885e44;
  color: #d3c6bd;
}
.itContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 1vw;
}
.avatar {
  display: flex;
  align-items: center;
}
.avatarImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

.dollarOff {
  filter: opacity(0.4);
}
#fountainG {
  position: relative;
  width: 216px;
  height: 26px;
  margin: auto;
}

.fountainG {
  position: absolute;
  top: 0;
  background-color: rgb(255, 128, 82);
  width: 26px;
  height: 26px;
  animation-name: bounce_fountainG;
  -o-animation-name: bounce_fountainG;
  -ms-animation-name: bounce_fountainG;
  -webkit-animation-name: bounce_fountainG;
  -moz-animation-name: bounce_fountainG;
  animation-duration: 1.105s;
  -o-animation-duration: 1.105s;
  -ms-animation-duration: 1.105s;
  -webkit-animation-duration: 1.105s;
  -moz-animation-duration: 1.105s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  transform: scale(0.3);
  -o-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  border-radius: 17px;
  -o-border-radius: 17px;
  -ms-border-radius: 17px;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
}

#fountainG_1 {
  left: 0;
  animation-delay: 0.446s;
  -o-animation-delay: 0.446s;
  -ms-animation-delay: 0.446s;
  -webkit-animation-delay: 0.446s;
  -moz-animation-delay: 0.446s;
}

#fountainG_2 {
  left: 27px;
  animation-delay: 0.5525s;
  -o-animation-delay: 0.5525s;
  -ms-animation-delay: 0.5525s;
  -webkit-animation-delay: 0.5525s;
  -moz-animation-delay: 0.5525s;
}

#fountainG_3 {
  left: 54px;
  animation-delay: 0.659s;
  -o-animation-delay: 0.659s;
  -ms-animation-delay: 0.659s;
  -webkit-animation-delay: 0.659s;
  -moz-animation-delay: 0.659s;
}

#fountainG_4 {
  left: 81px;
  animation-delay: 0.7755s;
  -o-animation-delay: 0.7755s;
  -ms-animation-delay: 0.7755s;
  -webkit-animation-delay: 0.7755s;
  -moz-animation-delay: 0.7755s;
}

#fountainG_5 {
  left: 108px;
  animation-delay: 0.882s;
  -o-animation-delay: 0.882s;
  -ms-animation-delay: 0.882s;
  -webkit-animation-delay: 0.882s;
  -moz-animation-delay: 0.882s;
}

#fountainG_6 {
  left: 135px;
  animation-delay: 0.9985s;
  -o-animation-delay: 0.9985s;
  -ms-animation-delay: 0.9985s;
  -webkit-animation-delay: 0.9985s;
  -moz-animation-delay: 0.9985s;
}

#fountainG_7 {
  left: 162px;
  animation-delay: 1.105s;
  -o-animation-delay: 1.105s;
  -ms-animation-delay: 1.105s;
  -webkit-animation-delay: 1.105s;
  -moz-animation-delay: 1.105s;
}

#fountainG_8 {
  left: 189px;
  animation-delay: 1.2115s;
  -o-animation-delay: 1.2115s;
  -ms-animation-delay: 1.2115s;
  -webkit-animation-delay: 1.2115s;
  -moz-animation-delay: 1.2115s;
}

@keyframes bounce_fountainG {
  0% {
    transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}

@-o-keyframes bounce_fountainG {
  0% {
    -o-transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    -o-transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}

@-ms-keyframes bounce_fountainG {
  0% {
    -ms-transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    -ms-transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}

@-webkit-keyframes bounce_fountainG {
  0% {
    -webkit-transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    -webkit-transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}

@-moz-keyframes bounce_fountainG {
  0% {
    -moz-transform: scale(1);
    background-color: rgb(255, 128, 82);
  }

  100% {
    -moz-transform: scale(0.3);
    background-color: rgb(255, 128, 82);
  }
}
@media screen and (max-width: 992px) {
  .car {
    height: 180vh;
  }

  .grid {
    width: 100%;
  }
  .item:nth-child(3n-2) {
    grid-column-start: span 4;
    grid-row-start: span 1;
  }
  .item:nth-child(3n-1),
  .item:nth-child(3n) {
    grid-column-start: span 2;
    grid-row-start: span 1;
  }
}

@media screen and (max-width: 576px) {
  .Toastify__toast-container--top-right {
    position: absolute;
    right: 0 !important;
    width: 150px;
  }

  .content {
    align-items: center;
    width: 100%;
  }

  .navbar-nav {
    z-index: -2;
    width: 100vw;
    position: absolute !important;
    display: flex !important;
    justify-content: center !important;
    transition: 500ms;
    left: 0;
    top: -1rem;
    background-color: #b9a698de !important;
    padding-top: 4rem;
  }

  .item:nth-child(n) {
    grid-column-start: span 4;
    grid-row-start: span 1;
  }

  .navbar-nav li {
    margin: 0 0.5rem;
  }
  .navbar-nav li * {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=App.css.map */
