h1.brand {
  color: #f8f9fa;
  font-size: 8rem;
  text-shadow: 2px 2px 2px black;
}
h2.sub {
  color: #f8f9fa;
  font-size: 1.5rem;
  text-shadow: 2px 2px 2px black;
  font-weight: bold;
}
a {
  text-decoration: none;
  font-weight: bold;
}
.callToAction {
  color: #212529;
  font-size: 2.4rem;
  text-shadow: 1px 1px 2px black;
}
.tinerary {
  font-weight: bold;
}

.video {
  width: 100%;
  height: calc(100vh - 2px);
  object-fit: cover;
}

.content {
  z-index: 1;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 45%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 3vh;
}
button.go,
button.error {
  border: 2px solid transparent;
  background-color: #e6e1dd;
  border-radius: 35px;
  padding-bottom: 6px;
}

button.go:hover,
button.error:hover {
  background-color: #f8f9fa;
  transform: scale(1.1);
  transition: 500ms;
}

.carouselToggler {
  background: linear-gradient(
    #e6e1dd,
    #e6e1dd,
    #e6e1dd,
    #b9a698,
    #b9a698,
    #885e44
  );
  padding-top: 4vh;
  padding-bottom: 10vh;
}

.pop {
  font-size: 5rem;
  color: #885e44;
  text-shadow: 2px 2px 2px black;
}
.foto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  object-fit: fill;
}

.hover:hover {
  transition: 400ms;
  transform: scale(1.01);
}

.carru {
  min-height: 37vh;
  min-width: 30vw;
}

.carouItem {
  width: 80%;
}

.description {
  padding: 10px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.295), rgba(0, 0, 0, 1));
}

span.but {
  font-size: 2rem !important;
}
span.but:hover {
  color: #e6e1dd;
}
@media screen and (max-width: 576px) {
  .video {
    height: 90vh;
  }
  h1.brand {
    color: #f8f9fa;
    font-size: 4rem;
    text-shadow: 2px 2px 2px black;
  }
  h2.sub {
    color: #f8f9fa;
    font-size: 1.5rem;
    text-shadow: 2px 2px 2px black;
    font-weight: bold;
  }
  .callToAction {
    color: #212529;
    font-size: 2.4rem;
    text-shadow: 1px 1px 2px black;
  }
  .pop {
    font-size: 2rem;
    color: #885e44;
  }
  .carouItem {
    width: 100%;
  }
}
